

<h2><button id={{.NodeId}} onclick="OpenNode(id)" class="btn btn-default" role="button" ><span class="glyphicon glyphicon-open" /></button>&nbsp;{{.NodeName}}</h2>
<div class="panel panel-success">
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Last Modified</th>
            <th>Size</th>
        <tbody>
        <tr>
            <td>{{.LastModified}}</td>
            <td>{{.NodeSize}}</td>
            <td>{{.NodeType}}</td>
        </tr>
        </tbody>
    </table>
</div>

{{range .Posts}}
<div class="panel">
    {{if .FileName}}
    <div class="panel-heading">
        <h3 class="panel-title">{{.FileName}}</h3>
    </div>
    {{end}}

    <div class="panel-body">
        <button id={{.PostId}} class="btn btn-default pull-right" onclick="EditNode(id);" role="button" ><span class="glyphicon glyphicon-pencil" /></button>
        {{.Content}}
        {{if .ModDate}}
        <small class="pull-right ">Last Updated {{.ModDate}}</small>
        {{end}}
    </div>
</div>

{{end}}
